fastapi
gunicorn
uvicorn[standard]
python-dotenv
sqlalchemy
asyncpg
greenlet
pydantic
passlib[bcrypt]
argon2-cffi
email-validator
PyJWT
alembic
websockets
wsproto

# for development
black
ruff
pytest
pytest-asyncio
httpx
aiosqlite
types-passlib
