fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
asyncpg
greenlet
pydantic
passlib[bcrypt]
argon2-cffi
email-validator
PyJWT
alembic

# for development
black
ruff
pytest
pytest-asyncio
httpx
aiosqlite
