name: CI - Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  security-events: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run:
          pip install -r requirements.txt

      - name: Run static type check
        run: |
          pip install mypy
          pwd
          tree -a app/utils
          grep -R "PYTHONPATH" -n .
          mypy app
