name: CI - Docker Scan

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  security-events: write
  pull-requests: write

jobs:
  docker-image-scan:
    name: Docker Image Scan
    runs-on: ubuntu-latest
    needs: [build]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image for scan
        run: docker build -t phichat-backend-scan -f Dockerfile .

      - name: Docker Scout Scan
        uses: docker/scout-action@v1.18.1
        with:
          dockerhub-user: ${{ secrets.DOCKER_USERNAME }}
          dockerhub-password: ${{ secrets.DOCKER_PASSWORD }}
          command: quickview,cves
          sarif-file: docker-scout-report.sarif

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: docker-scout-findings
          path: docker-scout-report.sarif
