name: Release - Docker Build & Push

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  security-events: write
  pull-requests: write

jobs:
  docker-publish:
    runs-on: ubuntu-latest
    needs: [version]

    steps:
      - uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/phichat-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/phichat-backend:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/phichat-backend:${{ github.ref_name }}
