name: Release - Fly.io Deploy

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  security-events: write
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    needs: [docker-publish]

    steps:
      - uses: actions/checkout@v4

      - name: Flyctl install
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Deploy to fly.io using Dockerhub image
        run: flyctl deploy --remote-only --image ${{ secrets.DOCKER_USERNAME }}/phichat-backend:latest
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
