name: Release - Version Bump

on:
  push:
    branches: [ "master" ]

permissions:
  contents: write
  issues: write
  security-events: write
  pull-requests: write

jobs:
  version:
    runs-on: ubuntu-latest
    needs: [scan]

    steps:
      - uses: actions/checkout@v4

      - name: Bump version
        id: Bump
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PHICHAT_PAT }}
          DEFAULT_BUMP: patch

      - name: Output new version
        run: echo "New version - ${{ steps.bump.outputs.new_tag }}"
